- var moduleList = ['accelerometer', 'ambient', 'audio', 'ble', 'camera', 'climate', 'gprs', 'gps', 'ir', 'microsd', 'nrf', 'relay', 'rfid', 'servo']

div#fre-sidebar
  ul(class="side-nav")
    li(class=(page === "install" ? "active" : ""))
      a(href="/install") 1. install
    li( class=(page === "blinky" ? "active" : ""))
      a(href="/blinky") 2. blinky
    li( class=(page === "modules" ? "active" : ""))
      a(href="/modules") 3. modules
        //ul
        mixin moduleLink(val)
          li( style="padding-left:10px;" class=(page === val ? "active" : ""))
            a.side-bar-modules(href="/modules/" + val)
              | &#9675; #{val}
        each val in moduleList
          +moduleLink(val)
    li( class=(page === "wifi" ? "active" : ""))
      a(href="/wifi") 4. wifi
    li( class=(page === "tweet" ? "active" : ""))
      a(href="/tweet") 5. tweet
    li( class=(page === "usage" ? "active" : ""))
      a(href="/usage") 6. usage
    li( class=(page === "finished" ? "active" : ""))
      a(href="/finished") 7. finished
