extends layout

block content
  .row
    .large-12.columns.fre-container
      .row
        .large-12.columns
          h1 Tessel's First Tweet
      br

  .row
    .large-12.columns
      p Now that you're <a href="/wifi">connected to Wifi</a>, let's try a tweet!
      p This code snippet makes Tessel send a tweet from a dummy account <a href="https://twitter.com/TesselTweet" target=0>(@TesselTweet)</a> that we've created for this.
      p If you want to post from your own account, go to <a href="https://apps.twitter.com/" target=0>apps.twitter.com</a>, create your own OAuth tokens with read and write permissions, and paste them into the script.
  .row
    .large-12.columns
      .greyBar(style="height:2px;")
  .row.large-12.columns
      p First, create a new directory within your "tessel-code" directory:
        code
          cli mkdir tessel-tweet
          cli cd tessel-tweet

      p Now copy and paste the following into a new file and save it as "tweet.js". Change the twitterHandle var to your own Twitter handle.

  .row
    .large-12.columns
      pre.prettyprint
        code.
          // Node requires
          var twitter = require('twitter');
          var util = require('util')

          var twitterHandle = '@technicalhumans';
          // The status to tweet
          var status = 'Hello ' + twitterHandle + '. This is your #Tessel speaking.';

          // Enter the oauth key and secret information
          var twit = new twitter({
            consumer_key: 'O7oc0pvsZn4xjgcuHuYdX4FaC',
            consumer_secret: 'iJYuHFz2sD46Nvk3mcwzX8uih14aEAMgVWdWoR59nx8v6Zl7ZX',
            access_token_key: '2529232909-luARGU89K4CKFMvfzBjCgG6ubefzDkdDWkSB85i',
            access_token_secret: 'GXQfuzvGdjLEs3t1HEYfhQ9x9bdBcSBVXjBkbRgwYlOE0'
          });

          // Make a tweet!
          twit.updateStatus(status, function(data) {
            if (data.name === 'Error') {
              console.log('error sending tweet!', data.message);
            }
            else {
              console.log('tweet successful!');
            }
          });
  .row
    .large-12.columns
      p We're using the 
        a(src="https://www.npmjs.org/package/twitter") twitter Node.js 
        | library for convenience

      p We'll need to install the library using npm:
        code
          cli npm install twitter

  .row
    .large-4.columns
      <br/>
      p Now run
        code
          cli tessel run tweet.js
      p
        a(href="https://twitter.com/TesselTweet" target=0) Check Twitter for your tweet!

    .large-8.columns.right
      img(src="#{s3url}tessel-tweet-2.png", style="float:right;")


  .row
    .large-12.columns
      <br/>
      p <b>Bonus:</b> Try making Tessel tweet output from a module.

block bottom_nav
  .row
    .large-5.columns.left
      a.bottomButton(href="/wifi" class="button") Prev: Wifi
    .large-6.columns.right
      a.bottomButton.right(href="/usage" class="button") Next: Usage
