extends layout

block content
  .row
    .large-12.columns.fre-container
      h1 Some useful commands...

      p You can look at all the options of Tessel's CLI by running
      code
        cli tessel --help

      p Here are a few of the most useful ones:

  .row
    .large-12.columns
      .greyBar(style="height:2px;")
  .row
    .large-12.columns
      h2
        code tessel run <script.js | path/to/folder>
      p This command loads code into RAM on Tessel. When Tessel is reset (or the script ends with CTRL + C), Tessel loses the code. This command is useful for running code while developing, and will be used throughout this tutorial.

      p This command is shown in the <a href="/blinky">blinky example.</a>

      code
        cli tessel run blinky.js

      code
        .console-output
          | >> Bundling directory ... <br/>
          | >> Deploying bundle ... <br/>
          | >> Running script ...<br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> ... <br/>
  .row
    .large-12.columns
      .greyBar(style="height:2px;")
  .row
    .large-12.columns
      h2
        code tessel push <script.js | path/to/folder>
      p This command saves code into flash memory on Tessel. This means that Tessel auto-runs this code when powered. The code will stay on here even if you reset Tessel. If you "tessel run" while you have code saved in Flash, the new code will run until the Tessel is reset, and then Tessel will switch back to the code from Flash.

      p From your "tessel-code" directory, where you saved blinky.js,
      code
        cli tessel push blinky.js

      code
        .console-output
          | >> Bundling directory ... <br/>
          | >> Deploying bundle ... <br/>
          | >> Running script ...<br/>
          | >> Finished deployment <br/>

      p While Tessel is running code from flash, console logs will be hidden by default. To see output after a "push" command, enter
      code
        cli tessel logs

      code
        .console-output
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> ...<br/>
  .row
    .large-12.columns
      .greyBar(style="height:2px;")
  .row
    .large-12.columns
      h2
        code tessel erase
      p This command erases any JavaScript code saved to Tessel's flash memory. The firmware is left unchanged. If you push buggy code to Tessel, an erase can remove your code.

      p Try unplugging and replugging in your Tessel after you have loaded the blinky code in Flash (tessel push). After a few seconds, you should see the LEDs start to blink.
      p Now run
      code
        cli tessel erase

      code
        .console-output
          | >> Attempting to erase filesystem <br/>

      p This will erase the blinky code from Tessel, and the LEDs will stop blinking.


block bottom_nav
  .row
    .large-6.columns.left
      a.bottomButton(href="/tweet" class="button") Prev: Tweet
    .large-6.columns.right
      a.bottomButton.right(href="/finished" class="button") Next: Finished!
