extends layout

block content
  .row
    .large-10.columns.fre-container
      .row
        h1 Congratulations! <br/> You've completed the Tessel Tutorial!
      .row
        .large-12.columns
          p.moduleStep What's next?
          p
            a(href="//technical.io/projects" target=0)
              b Check out
              |  Tessel projects &rarr;
          p
            a(href="//twitter.com/technicalhumans" target=1) 
              b Follow us
              |  on Twitter &rarr;
          p
            a(href="////github.com/tessel/contribution-guide" target=2)
              b Contribute
              |  to the Tessel project &rarr;

block bottom_nav
  .row
    .large-6.columns.left
      a.bottomButton(href="/usage" class="button") Prev: Usage
