extends layout

block content
  .row
    .large-10.columns.fre-container
      .row
        h1 Congratulations! <br/> You've completed the Tessel Tutorial!
      .row
        .large-12.columns
          p.moduleStep What's next?
          p
            a(href="//technical.io/projects" target=0)
              b Check out
              |  Tessel projects &rarr;
          p
            a(href="////github.com/tessel/contribution-guide" target=2)
              b Contribute
              |  to Tessel's open source codebase &rarr;
          p
            a(href="//twitter.com/technicalhumans" target=1) 
              b Follow us
              |  to stay up-to-date on new developments:
          .row
            a(href="//twitter.com/technicalhumans", target="_new")
              img(src="/images/tw.svg").social
            a(href="//facebook.com/technicallyamachine", target="_new")
              img(src="/images/fb.svg").social
            a(href="//plus.google.com/103029349995646385959", target="_new")
              img(src="/images/g.svg").social

block bottom_nav
  .row
    .large-6.columns.left
      a.bottomButton(href="/usage" class="button") Prev: Usage
