extends ja-layout
block head
  script(src="/javascripts/custom/install.js")

block content
  .row
    .large-12.columns.fre-container#anchor
      h1 Tesselのインストール

      p あなたが使っているOSを選んでください。

      dl#install-tabs(class="tabs contained three-up" data-tab)
        dd.active
          a#osx-tab(href="#tab-osx" data-toggle="tab" ) OSX
        dd
          a#linux-tab(href="#tab-linux" data-toggle="tab") Linux
        dd
          a#pc-tab(href="#tab-pc" data-toggle="tab") Windows

      .tabs-content#install-content
        .content.active#tab-osx
          p Tesselのコマンドラインツールをインストールするには、あらかじめ<a href="http://nodejs.org/">Node.js</a>をインストールしておく必要があります。Node.jsは、<a href="http://nodejs.org/">Node.jsのオフィシャルサイト</a>からダウンロードしてインストールできます。もしも<a href="http://brew.sh/">Homebrew</a>がインストール済みなら、以下のコマンドでインストールすることができます。
          code
            cli brew install node
          p Node.jsのインストールが済んだら、以下のコマンドを入力してください。
            code
              cli npm install -g tessel
          p 失敗した場合は、エラーメッセージを<a href="http://forums.tessel.io/category/installation-issues">インストールについての掲示板</a>に投稿してください。
          p うまくいった場合は、<a href="#firmware">ファームウェアのアップデート</a>に進んでください。

        .content#tab-linux
          p Tesselのコマンドラインツールをインストールするには、あらかじめ<a href="http://nodejs.org/">Node.js</a>をインストールしておく必要があります。Node.jsは、<a href="http://nodejs.org">Node.jsのオフィシャルサイト</a>からダウンロードしてインストールできます。また、各種Linuxのパッケージマネージャーを使ってインストールしたい場合には、<a href="https://github.com/joyent/node/wiki/Installing-Node.js-via-package-manager">このページの手順</a>に従ってください。
          p Ubuntu<i>13.10</i>以降のOSを使っている場合は、以下のコマンドを実行してください。
          code
            cli apt-get install nodejs nodejs-legacy
          p Node.jsのインストールが済んだら、以下のコマンドを入力してください。
          code
            cli apt-get install libusb-1.0-0-dev
            cli npm install -g tessel
          p 失敗した場合は、エラーメッセージを<a href="http://forums.tessel.io/category/installation-issues">インストールについての掲示板</a>に投稿してください。
          p うまくいった場合は、<a href="#firmware">ファームウェアのアップデート</a>に進んでください。

        .content#tab-pc
          p Tesselをパソコンにつなぐと、ドライバーが自動的にインストールされます。
          p Windows 7を使っている場合には、「デバイスドライバーソフトウェアは、正しくインストールされませんでした。」というエラーが表示される場合があります。この場合には、その通知をクリックし、新しく表示されたウィンドウで「設定の変更...」というボタンをクリックし、「コンピューター上で見つからない場合に、Windows Updateからドライバーソフトウェアをインストールする」を選択し、設定を保存してください。それから、Tesselをパソコンに再接続してください。
          p 続いて、<a href="http://nodejs.org/">Node.jsのオフィシャルサイト</a>からWindows用のパッケージをダウンロードしてインストールしてください。Node.jsは、コマンドラインからTesselを操作するために必要です。
          p TesselのドライバーとNode.jsのインストールが済んだら、cmd.exeで以下のコマンドを入力してください。
          code
            cli npm install -g tessel
          p 失敗した場合は、エラーメッセージを<a href="http://forums.tessel.io/category/installation-issues">インストールについての掲示板</a>に投稿してください。
          p うまくいった場合は、<a href="#firmware">ファームウェアのアップデート</a>に進んでください。

  .row
    .large-12.columns.fre-container

      h3#firmware ファームウェアのアップデート
      p TesselとパソコンをUSBケーブルでつなぎ、以下のコマンドを入力してください。
        code
          cli tessel update
      p ファームウェアの書き換え中は、黄色と赤のランプが点滅します。
      p ファームウェアのアップデートが完了したら、次のステップに進んでください。


block bottom_nav
  .row
    .large-12.columns.right
      a.bottomButton.right(href="/ja/blinky" class="button") 進む：点滅
