extends ja-layout

block content
  .row
    .large-10.columns.fre-container
      .row
        h1 おめでとうございます！ <br/> Tesselのチュートリアルはすべておわりました！
      .row
        .large-12.columns
          p.moduleStep 次は？
          p
            <a href="//technical.io/projects" target=0>Tesselを使ったプロジェクトを<b>見てみましょう</b> &rarr;</a>
          p
            <a href="//technical.io/docs" target=0>Tesselのドキュメントページを<b>読んでみましょう</b> &rarr;</a>
          p
            <a href="////github.com/tessel/contribution-guide" target=2>Tesselのソースコードを<b>オープンソースとして公開しています</b> &rarr;</a>
          p
            <a href="//twitter.com/technicalhumans" target=1>Tesselの最新情報を入手するために<b>Tesselのアカウントをフォロー</b>：</a>
          .row
            a(href="//twitter.com/technicalhumans", target="_new")
              img(src="/images/tw.svg").social
            a(href="//facebook.com/technicallyamachine", target="_new")
              img(src="/images/fb.svg").social
            a(href="//plus.google.com/103029349995646385959", target="_new")
              img(src="/images/g.svg").social

block bottom_nav
  .row
    .large-6.columns.left
      a.bottomButton(href="/ja/usage" class="button") 戻る：コマンド
