extends ja-layout

block content
  .row
    .large-12.columns.fre-container
      h1 コマンドの使い方

      p Tesselのコマンドの全てのオプションを見るには、以下のコマンドを実行してください。
      code
        cli tessel --help

      p これらのオプションのうち、よく使う物を以下に説明します：

  .row
    .large-12.columns
      .greyBar(style="height:2px;")
  .row
    .large-12.columns
      h2
        code tessel run &lt;script.js | ディレクトリーへのパス&gt;
      p このコマンドを実行すると、あなたの書いたプログラムがTesselのRAMに転送され、実行されます。Tesselがリセットされるか、キーボードのCtrl-Cを押してこのコマンドの実行を停止すると、Tesselに転送されたプログラムは消えてしまいます。このコマンドは、開発中にプログラムを実行してみるのに適しています。このチュートリアルでも、全般にこのコマンドを使います。

      p 以下のコマンドの例は、
        a(href="/ja/blinky") 点滅
        | の項で使いました。

      code
        cli tessel run blinky.js

      code
        .console-output
          | >> Bundling directory ... <br/>
          | >> Deploying bundle ... <br/>
          | >> Running script ...<br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> ... <br/>
  .row
    .large-12.columns
      .greyBar(style="height:2px;")
  .row
    .large-12.columns
      h2
        code tessel push &lt;script.js | ディレクトリーへのパス&gt;
      p このコマンドを実行すると、あなたの書いたプログラムがTesselのフラッシュメモリに書き込まれます。Tesselの電源を入れると、このプログラムが自動的に実行されます。Tesselをリセットしても、プログラムは消えません。プログラムが書き込まれている状態で「tessel run」コマンドを実行すると、別のプログラムがTesselに転送されて実行されますが、Tesselをリセットするとフラッシュメモリに書き込まれている元のプログラムが実行されます。

      p 「blinky.js」を保存した「tessel-code」ディレクトリーからなら、以下のように実行します。
      code
        cli tessel push blinky.js

      code
        .console-output
          | >> Bundling directory ... <br/>
          | >> Deploying bundle ... <br/>
          | >> Running script ...<br/>
          | >> Finished deployment <br/>

      p フラッシュメモリに書き込まれているプログラムが動作しているときは、そのままではログメッセージを見ることができません。「tessel push」コマンドを実行したあと、ログメッセージを見るには、以下のコマンドを実行してください。
      code
        cli tessel logs

      code
        .console-output
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> "I'm blinking! (Press CTRL + C to stop)" <br/>
          | >> ...<br/>
  .row
    .large-12.columns
      .greyBar(style="height:2px;")
  .row
    .large-12.columns
      h2
        code tessel erase
      p このコマンドを実行すると、Tesselのフラッシュメモリに書き込まれているプログラムが消去されます。もちろん、Tesselのファームウェアはそのままです。バグのあるプログラムを書き込んでしまったときは、このコマンドの出番です。

      p 試してみましょう。「tessel push」コマンドを使って、上記の点滅のプログラムをTesselに書き込んでから、TesselをUSBコネクタからはずして、もういちど接続してください。数秒後、ランプが点滅し始めます。
      p つぎに、以下のコマンドを実行してください。
      code
        cli tessel erase

      code
        .console-output
          | >> Attempting to erase filesystem <br/>

      p Tesselのフラッシュメモリの点滅のプログラムが消去され、ランプは点滅しなくなります。


block bottom_nav
  .row
    .large-6.columns.left
      a.bottomButton(href="/ja/wifi" class="button") 戻る：無線LAN
    //- .large-6.columns.left
    //-   a.bottomButton(href="/ja/tweet" class="button") 戻る：ツイート
    .large-6.columns.right
      a.bottomButton.right(href="/ja/finished" class="button") 進む：終わり
