<!-- Google -->
<img style="display: none;" onLoad="google_user(true)" alt="" src="https://accounts.google.com/CheckCookie?continue=https%3A%2F%2Fwww.google.com%2Fintl%2Fen%2Fimages%2Flogos%2Faccounts_logo.png&amp;followup=https%3A%2F%2Fwww.google.com%2Fintl%2Fen%2Fimages%2Flogos%2Faccounts_logo.png&amp;chtml=LoginDoneHtml&amp;checkedDomains=youtube&amp;checkConnection=youtube%3A291%3A1" />

<!-- Google Plus -->
<?php $detect = new Mobile_Detect(); if (!$detect->isMobile()) : ?>
  <img style="display: none;" onLoad="google_plus_user(true)" alt="" src="https://plus.google.com/up/?continue=https://www.google.com/intl/en/images/logos/accounts_logo.png&amp;type=st&amp;gpsrc=ogpy0" />
<?php endif; ?>

<!-- Twitter -->
<img style="display: none;" onLoad="twitter_user(true)" alt="" src="https://twitter.com/login?redirect_after_login=%2Fimages%2Fspinner.gif" />

script
  function twitter_user(status) {
    if (status) {
    ga('set', 'dimension2', 'Logged In');
    };
  }
  function google_plus_user(status) {
    if (status) {
      ga('set', 'dimension3', 'Logged In');
    };
  }
  function google_user(status) {
    if (status) {
    ga('set', 'dimension4', 'Logged In');
    };
  }