html, body {
  letter-spacing: 0.04em;
  height: auto; }

h1, h2, h3 {
  letter-spacing: 0.04em;
  text-transform: uppercase; }

p {
  letter-spacing: 0.04em;
  margin-bottom: 20px; }

nav {
  font: regular 26px Source Sans Pro, sans-serif;
  color: #363636;
  letter-spacing: 0.075em;
  text-transform: uppercase; }

.text-center {
  text-align: center; }

#sec-footer {
  background-color: #444444;
  color: #F6F6F6;
  padding: 2em 0; }
  #sec-footer * a {
    color: #F6F6F6;
    font-style: regular 26px Source Sans Pro, sans-serif;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding: 0 1em; }
