- var thismod = "accelerometer"
- var pkg = "accel-mma84"
- var doThis = "Watch x, y, and z values appear in your terminal! Move the Tessel module around to see acceleration along different axes."
- var bonus = "<br/><br/><b>Bonus:</b> Change the code to make the accelerometer output information once per second (every 1000ms)."

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg
- var moreInfo = moreInfo1 + thismod + moreInfo2 + moduleDocs + moreInfo3

- var projects = [{title: 'Dog Sleep Tracker', slug: 'dog-sleep-tracker', imgUrl: 'https://tessel-portal.s3.amazonaws.com/uploads/original-66-1410903121991-gif%20%281%29.jpg'}, {title: 'Super Neo Bulls Eye Level Tessel', slug: 'super-neo-bulls-eye-level-tessel', imgUrl: 'https://tessel-portal.s3.amazonaws.com/uploads/original-28-1408129648013-bullseye.jpg'}, {title: 'Alarm App with Crossbar.io', slug: 'alarm-app-with-crossbar.io', imgUrl: 'https://tessel-portal.s3.amazonaws.com/uploads/original-105-1416589962517-alarmapp_screenshot.png'}]

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn1 + thismod + plugIn2A)
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install1 + pkg + install2)
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push1 + thismod + push2 + doThis + bonus + moreInfo)
- i++
+seeForums(i, thismod, thismod, projects)
