- var thismod = "audio"
- var pkg = "audio-vs1053b"
- var doThis = "When prompted, hold down the config button and speak loudly at the Audio module. When you release the button the recording will be played back to you."
- var bonus = "<br/><br/><b>Bonus:</b> Change the code so that recording stops automatically after 5 seconds."

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg
- var moreInfo = moreInfo1 + thismod + moreInfo2 + moduleDocs + moreInfo3


//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, moduleSpecial_filepath +  "audio-headphones" + ".jpeg", "Plug in headphones or a speaker to the Headphones/Line out jack on your module. (You can also plug in a microphone to Line in, or just use the Mic built into the module.)")
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn1 + thismod + plugIn2A)
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install1 + pkg + install2)
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleSpecial_filepath + "config_button" + ".jpg", "Locate the config button on Tessel. You'll be holding down this button to record sound.")
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push1 + thismod + push2 + doThis + bonus + moreInfo)
- i++
+seeForums(i, thismod, thismod)
