- var thismod = "camera"
- var pkg = "camera-vc0706"
- var doThis = "Take pictures!"
- var bonus = "<br/><br/><b>Bonus:</b> Change the code to take an image with a different resolution. (Hint: you might have to check the documentation.)"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg
- var moreInfo = moreInfo1 + thismod + moreInfo2 + moduleDocs + moreInfo3

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn1 + thismod + plugIn2A)
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install1 + pkg + install2)
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push1 + thismod + ".js --upload-dir ./</cli></code></br>The flag <span class='inlineCode'>--upload-dir</span> lets you specify where to save the image. Uploading to <span class='inlineCode'>.</span> saves the image in the current directory. Otherwise set <span class='inlineCode'>process.env.TESSEL_UPLOAD_DIR</span> to run without the flag.<br/><br/>" + doThis + bonus + moreInfo)- i++
+seeForums(i, thismod, thismod)
