- var thismod = "gprs"
- var pkg = "gprs-sim900"
- var doThis = "After 10-20 seconds, check the phone you specified for a text!<p>If it didn't work, check the green 'NET LIGHT' LED on your GPRS module. If it is blinking more quickly than once every three seconds, you don't have enough bars of phone service to send a text."
- var bonus = "<br/><br/><b>Bonus:</b> Try interacting with the module using the command line.<p>Once your Tessel has successfully sent you a text, text it back. If all goes well, you should see a notification in your command line when the Tessel receives the SMS from your phone. To read the text you sent the Tessel, enter <code>at+cmgr=x</code>, where x is the number mentioned in the 'unsolicited event' notification."

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg
- var moreInfo = moreInfo1 + thismod.toUpperCase() + moreInfo2 + moduleDocs + moreInfo3

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, s3url+"modules_special/" +  thismod + "-goodies.png", "Attach antenna and insert an unlocked (pre-paid) SIM card [not included] into GPRS module as pictured.")
- i++
+normal_row(i, moduleSpecial_filepath +  "gprs-3v" + ".jpeg", "Make sure the Power select jumper in the top right corner of the module is set to 3.3V. You may have to pull off the jumper pin from its location at 'External' and move it to 3.3V.")
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn1 + thismod.toUpperCase() + plugIn2A)
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install1 + pkg + install2)
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", "Replace '##########' in the code with a phone number to text (including country code) and save again.<p>" + push1 + thismod + push2 + doThis + bonus + moreInfo)
- i++
+normal_row(i, s3url+"modules_clipped/" + "gprs-external-power" + ".jpg", "The GPRS module can be externally powered through the External power pins. This allows the module to draw more current and get a better connection to the cell network. If you're seeing the Tessel become unresponsive after running the GPRS module, switch to external power.<br/><br/>First switch the jumper in the green area to connect External the 3.3V pins. Then connect an external GND to one of the two black arrows in the pink circle and external power to one of the two red arrows.")
- i++
+seeForums(i, thismod, thismod.toUpperCase())
