- var thismod = "servo"
- var pkg = "servo-pca9685"
- var doThis = "Watch your servo move!"
- var bonus = "<br/><br/><b>Bonus:</b> Make the servo turn all the way to position 1 in one fell swoop, and then back to position 0."

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg
- var moreInfo = moreInfo1 + thismod + moreInfo2 + moduleDocs + moreInfo3

//- +see_video("http://youtu.be/pNuhntwguBM")
+make_directory(i, thismod)
- i++
<br/>
.row
  +num_col(i)
  .large-5.columns
    img(src="#{s3url}modules_special/servo_servo.jpeg")
  .large-6.columns.right
    div Plug servo into port "1" on the module as shown.<br/><br/>
      li the brown wire (ground) goes to <code>-</code>
      li the red wire (power) goes to <code>+</code>
      li the yellow wire (signal) goes to <code>S</code>
.row
  .large-12.columns
    .greyBar(style="height:2px;")
- i++
+normal_row(i, s3url+"modules_special/servo_power.png", "Plug 5V adapter into the barrel jack on the servo module, then plug into wall power.")
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn1 + thismod + plugIn2A)
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install1 + pkg + install2)
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push1 + thismod + push2 + doThis + bonus + moreInfo)
- i++
+seeForums(i, thismod, thismod)
