- var thismod = "gprs"
- var pkg = "gprs-sim900"
- var doThis = "<p>10〜20秒したら、その電話機にSMSが届くはずです。</p><p>うまく行かない場合は、「NET LIGHT」とマークしてある緑色のランプをチェックしてください。もしも、3秒に1回よりも速く点滅している場合は、電波強度が弱くてSMSを送信できない事を意味しています。"
- var bonus = "<br/><br/><b>おまけ：</b>コマンドラインを使って、モジュールとやりとりしてみましょう。<p>Tesselからあなたの電話機にテキストを送るのに成功したら、返信してみましょう。すべてうまく動けば、Tesselがあなたの電話機からSMSを受け取るとコマンドラインで知らせてくれます。Tesselに送ったテキストを読むには、<code>at+cmgr=x</code>と入力してください。xにはコマンドラインに表示されたお知らせ文に書かれている数字を入れてください。"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg

p
  b 日本国内にはGPRSでの通信サービスを提供している通信会社はありません。
    | そのため、日本国内では事実上使用できません。
    | また、電源を入れると電波法違反になります。
//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, s3url+"modules_special/" +  thismod + "-goodies.png", "写真のように、GPRSモジュールにアンテナを接続し、SIMカードを挿しこんでください（SIMカードは当製品には含まれていません）。")
- i++
+normal_row(i, moduleSpecial_filepath +  "gprs-3v" + ".jpeg", "ジャンパーピンが3.3Vと書かれたピンにつながっていることを確認して下さい。Externalと書かれたピンにつながっている場合は、ジャンパーピンを取り外し、3.3Vに繋ぎ直してください。")
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn, {'port': 'A'})
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install, {'package': pkg})
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", "上記のプログラム中の「##########」を、SMSを送りたい相手の電話番号（国識別番号付き）に変えてから、もういちど保存してください。</p>" + push + doThis + bonus + moreInfo, {'href': moduleDocs})
- i++
+normal_row(i, s3url+"modules_clipped/" + "gprs-external-power" + ".jpg", "#{title}モジュールは外部電源端子を使って外部から電源をとることができます。外部から電源をとるとより多くの電流が使えるので、正常に働く可能性が高くなります。もし、#{title}モジュールを使おうとしたらTesselが反応しなくなるようなことがあったら、外部電源に替えてみてください。<br/><br/>図の緑色で囲ったところのジャンパーピンを付け替えて、Externalと書かれたピンと3.3Vと書かれたピンをつなぎます。さらに、ピンクで囲まれた中にあるふたつの黒い矢印のうちどちらかに外部電源のグラウンド（マイナス側）を、ふたつの赤い矢印のうちひとつに外部電源のプラス側をつないでください。")
- i++
+seeForums(i, thismod, title)
