- var thismod = "gps"
- var pkg = "gps-a2235h"
- var doThis = "あなたが今いる場所の位置を調べてみてください。位置がうまく確定しない場合は、部屋の外に出てみてください。室内だと人工衛星からの電波の受信がうまくいかないことがあります。"
- var bonus = "<br/><br/><b>おまけ：</b>自宅から一定の距離に近づくと通知が表示されるようにしてみてください（ヒント：#{title}モジュールのドキュメントを読んでみてください）。"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod, "<b>注意：</b>現時点では、#{title}モジュールは<b>ポートC</b>でしか動作しません。ポートCはマイコンのRFノイズの影響を一番受けにくいのです。Tesselが複雑な処理をしていると、位置の確定は難しくなります。人工衛星からの電波を受信して位置が確定するまでにかかる時間は、人工衛星の状態によって異なります。野外で実験するのがいちばんです（それでも位置が確定するまでに多少の時間がかかります）。いったん位置が確定すると、電波状態が少し悪くなっても確定したままです。")
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + "-portc.jpeg", plugIn, {'port': 'C'})
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install, {'package': pkg})
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push + doThis + bonus + moreInfo, {'href': moduleDocs})
- i++
+seeForums(i, thismod, title)
