- var thismod = "accelerometer"
- var pkg = "accel-mma84"
- var doThis = "表示されるxyzの値に注目してください。Tesselを持ち上げて、いろいろな向きに傾けてみてください。"
- var bonus = "<br/><br/><b>おまけ：</b>値の表示を1秒（1000ミリ秒）ごとにするには、プログラムをどういうふうに変更したらいいでしょうか。"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg

- var projects = ["<iframe frameborder='0' height='270' scrolling='no' src='http://tessel.hackster.io/rickyrobinett/a-sleep-tracker-for-your-dog-using-tessel-and-twilio/embed' width='360'></iframe>", "<iframe frameborder='0' height='270' scrolling='no' src='http://tessel.hackster.io/svdockum/tesselneobullseyelevel/embed' width='360'></iframe>"]

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn, {'port': 'A'})
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install, {'package': pkg})
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push + doThis + bonus + moreInfo, {'href': moduleDocs})
- i++
+seeForums(i, thismod, thismod, projects)
