- var thismod = "audio"
- var pkg = "audio-vs1053b"
- var doThis = "「Hold the config button to record...」と表示されたら、Tessel本体の「Config」と書いてある押しボタンスイッチを押しっぱなしにし、#{title}モジュールの近くで、少し大きめの声でしゃべってください。押しボタンスイッチを離すと、しゃべった内容が再生されます。"
- var bonus = "<br/><br/><b>おまけ：</b>録音を開始してから5秒後に自動的に停止するように、プログラムを変更してみてください。"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg

- var projects = ["<iframe frameborder='0' height='270' scrolling='no' src='http://tessel.hackster.io/davidfekke/tessel-halloween/embed' width='360'></iframe>", "<iframe frameborder='0' height='270' scrolling='no' src='http://tessel.hackster.io/driesdroesbeke/tessel-notifications/embed' width='360'></iframe>"]

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, moduleSpecial_filepath +  "audio-headphones" + ".jpeg", "「Headphones/Line out」と書いてある側のジャックに、ヘッドフォンまたはスピーカーのプラグを挿しこんでください。「Line in」の側のジャックには、マイクを挿しこむこともできますが、このモジュール自体にマイクが組み込んであるので不要です。")
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn, {'port': 'A'})
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install, {'package': pkg})
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleSpecial_filepath + "config_button" + ".jpg", "Tesselの本体の基板に「Config」と書いてある押しボタンスイッチがあります。このボタンを押している間、周りの音が録音されます。")
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push + doThis + bonus + moreInfo, {'href': moduleDocs})
- i++
+seeForums(i, thismod, thismod, projects)
