- var thismod = "ambient"
- var pkg = "ambient-attx4"
- var doThis = "明るさと音量を示す値が表示されます。Tesselの近くで手を叩いたり、懐中電灯で照らしたりしてみてください。"
- var bonus = "<br/><br/><b>おまけ：</b>音によるトリガー（sound-trigger）が、ささやきくらいの音量で働くようにプログラムを変更してみてください。"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg

//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn, {'port': 'A'})
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install, {'package': pkg})
- i++
.row
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push + doThis + bonus + moreInfo, {'href': moduleDocs})
- i++
+seeForums(i, thismod, thismod)
