- var thismod = "rfid"
- var pkg = "rfid-pn532"
- var doThis = "#{title}モジュールにRFIDカードをかざすと、カードのUIDが表示されます。"
- var bonus = "<br/><br/><b>おまけ：</b>カードがかざされているかのチェックを3秒ごとに行うように、ポーリングレートを変更してみてください（ヒント：#{title}モジュールのドキュメントを読んでみてください）。"

- var i = 1
- var moduleDocs = moduleDocs_filepath + pkg

- var projects = [{title: 'Calling Card', slug: 'calling-card', imgUrl: 'https://tessel-portal.s3.amazonaws.com/uploads/original-11-1411172922774-IMG_4671.JPG'}, {title: 'DoorBot', slug: 'doorbot', imgUrl: 'https://tessel-portal.s3.amazonaws.com/uploads/original-18-1405818534272-photo%20%282%29.JPG'}]

p
  b #{title}モジュールは、微弱な電波を使用します。電波強度が日本の法規制値を超えないことの確認を行ってありません。そのため、日本国内では使用しないでください。使用すると、電波法違反になる可能性が有ります。
//- +see_video("http://youtu.be/JLZzLyH9jc4")
+make_directory(i, thismod)
- i++
+normal_row(i, modulesPlugged_filepath +  thismod + ".jpeg", plugIn, {'port': 'A'})
- i++
+normal_row(i, moduleCorners_filepath + thismod + ".jpg", install, {'package': pkg})
- i++
+displayCode(i, code.code, thismod)
- i++
+normal_row(i, moduleGifs_filepath + thismod + ".gif", push + doThis + bonus + moreInfo, {'href': moduleDocs})
- i++
+seeForums(i, thismod, thismod, projects)
