<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tessel Installation</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico?">

  <link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/foundation.min.css" rel="stylesheet">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/javascripts/custom/active-link.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation/foundation.tab.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation/foundation.topbar.min.js"></script>

  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/foundation.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/gh-fork-ribbon.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/tessel.css">
</head>
<body>
  <nav data-topbar="" role="navigation" class="top-bar fixed">
    <ul class="title-area">
      <li class="name">
        <h1><a href="index.html"><img src=
        "https://s3.amazonaws.com/technicalmachine-assets/technical-io/tessel-logo-horizontal.svg"
        alt="Tessel" class="top-bar__logo"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="index.html#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="{{ site.baseurl }}/">Start</a>
        </li>
        <li>
          <a href="https://tessel.io/docs">Docs</a>
        </li>
        <li>
          <a href="https://tessel.io/modules">Modules</a>
        </li>
        <li>
          <a href="https://tessel.io/projects">Projects</a>
        </li>
        <li>
          <a href="https://tessel.io/forums">Forums</a>
        </li>
        <li>
          <a href="https://tessel.io/shop">Shop</a>
        </li>
        <li>
          <a href="https://tessel.io/blog">Blog</a>
        </li>
      </ul>
    </section>
  </nav>
  <nav data-topbar="" id="alt-menu" class="top-bar">
    <!-- display this menu in mobile mode-->
    <ul style="background-color: #d7d7d7;" class="title-area">
      <li class="name">
        <h1><a href="https://tessel.io/"><nobr><img src=
        "https://s3.amazonaws.com/technicalmachine-assets/fre+assets/tessel-name.png"
        style="max-height: 18px; vertical-align: middle;" alt=
        "Tessel Project"></nobr></a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="index.html#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="{{ site.baseurl }}/index.html">install</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/wifi.html">wifi</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blinky.html">blinky</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/modules.html">modules</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/tweet.html">tweet</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/ap.html">access point</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/webserver.html">webserver</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/gpio.html">gpio</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/finished.html">finish</a>
        </li>
      </ul>
    </section>
  </nav>
  <section>
    <div id="fre-sidebar">
      <ul class="side-nav">
        <li>
          <a href="{{ site.baseurl }}/cmd.html">0. prereqs</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/index.html">1. install</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/wifi.html">2. wifi</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blinky.html">3. blinky</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/modules.html">4. modules<!--ul-->
          <ul>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/accelerometer.html" class=
              "side-bar-modules">accelerometer</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/ambient.html" class=
              "side-bar-modules">ambient</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/ble.html" class=
              "side-bar-modules">ble</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/camera.html" class=
              "side-bar-modules">camera</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/climate.html" class=
              "side-bar-modules">climate</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/gps.html" class="side-bar-modules">gps</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/ir.html" class="side-bar-modules">ir</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/relay.html" class=
              "side-bar-modules">relay</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/rfid.html" class=
              "side-bar-modules">rfid</a>
            </li>
            <li style="padding-left:10px;">
              <a href="{{ site.baseurl }}/modules/servo.html" class=
              "side-bar-modules">servo</a>
            </li>
          </ul></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/tweet.html">5. tweet</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/ap.html">6. access point</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/webserver.html">7. webserver</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/gpio.html">8. gpio</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/finished.html">9. finished</a>
        </li>
      </ul>
    </div>
    <div id="fre-content">
    	{{ content }}
  	</div>
    </section>
    <div class="github-fork-ribbon-wrapper right-bottom">
      <div class="github-fork-ribbon">
        <a href=
        "https://github.com/tessel/t2-start">Fork on
        Github</a>
      </div>
    </div>
    <footer>
    <section id="sec-footer">
      <div class="row">
        <div class="large-10 column large-centered">
          <div class="row text-center">
            <p>Tessel Project &copy; 2013-2015.</p>
          </div>
          <div class="row text-center">
            <p><a href="http://tessel.io/resellers">Resellers</a> |
            <a href="http://tessel.io/community">Community</a> |
            <a href="http://tessel.io/about">About us</a> |
            <a href="http://tessel.io/blog">Blog</a> | <a href=
            "http://tessel.io/press">Press</a></p>
          </div>
          <div class="row text-center">
            <a href=
            "https://heapanalytics.com/?utm_source=badge"><img style="width:100px;height:40px"
            src="http://heapanalytics.com/img/badge.png" alt=
            "Heap - iOS and Web Analytics"></a>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="//include.reinvigorate.net/re_.js"></script>
  <script src="javascripts/reinvigorate.js"></script>
  <script>
$(document).foundation();
  </script>
</body>
</html>
