<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tessel Installation</title>

  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/foundation.min.css" rel="stylesheet">
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/javascripts/custom/active-link.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation/foundation.tab.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation/foundation.topbar.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/gh-fork-ribbon.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/syntax.css">
  <link rel="stylesheet" href="/stylesheets/tessel.css">
</head>
<body>
  <nav data-topbar="" role="navigation" class="top-bar fixed">
    <ul class="title-area">
      <li class="name">
        <h1><a href="index.html"><img src=
        "https://s3.amazonaws.com/technicalmachine-assets/technical-io/tessel-logo-horizontal.svg"
        alt="Tessel" class="top-bar__logo"></a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="index.html#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="https://tessel.io/start">Start</a>
        </li>
        <li>
          <a href="https://tessel.io/docs">Docs</a>
        </li>
        <li>
          <a href="https://tessel.io/modules">Modules</a>
        </li>
        <li>
          <a href="https://tessel.io/projects">Projects</a>
        </li>
        <li>
          <a href="https://tessel.io/forums">Forums</a>
        </li>
        <li>
          <a href="https://tessel.io/shop">Shop</a>
        </li>
        <li>
          <a href="https://tessel.io/blog">Blog</a>
        </li>
        <li>
          <a href="index.html" class="active">en</a>
        </li>
        <li>
          <a href="ja/install.html">日本</a>
        </li>
      </ul>
    </section>
  </nav>
  <nav data-topbar="" id="alt-menu" class="top-bar">
    <!-- display this menu in mobile mode-->
    <ul style="background-color: #d7d7d7;" class="title-area">
      <li class="name">
        <h1><a href="https://tessel.io/"><nobr><img src=
        "https://s3.amazonaws.com/technicalmachine-assets/fre+assets/tessel-name.png"
        style="max-height: 18px; vertical-align: middle;" alt=
        "Technical Machine"></nobr></a></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="index.html#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="index.html">install</a>
        </li>
        <li>
          <a href="blinky.html">blinky</a>
        </li>
        <li>
          <a href="modules.html">modules</a>
        </li>
        <li>
          <a href="wifi.html">wifi</a>
        </li>
        <li>
          <a href="tweet.html">tweet</a>
        </li>
        <li>
          <a href="usage.html">usage</a>
        </li>
        <li>
          <a href="finished.html">finish</a>
        </li>
      </ul>
    </section>
  </nav>
  <section>
    <div id="fre-sidebar">
      <ul class="side-nav">
        <li>
          <a href="cmd.html">0. prereqs</a>
        </li>
        <li class="active">
          <a href="index.html">1. install</a>
        </li>
        <li>
          <a href="blinky.html">2. blinky</a>
        </li>
        <li>
          <a href="modules.html">3. modules<!--ul-->
          <ul>
            <li style="padding-left:10px;">
              <a href="modules/accelerometer.html" class=
              "side-bar-modules">accelerometer</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/ambient.html" class=
              "side-bar-modules">ambient</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/audio.html" class=
              "side-bar-modules">audio</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/ble.html" class="side-bar-modules">ble</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/camera.html" class=
              "side-bar-modules">camera</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/climate.html" class=
              "side-bar-modules">climate</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/gprs.html" class=
              "side-bar-modules">gprs</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/gps.html" class="side-bar-modules">gps</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/ir.html" class="side-bar-modules">ir</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/microsd.html" class=
              "side-bar-modules">microsd</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/nrf.html" class="side-bar-modules">nrf</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/relay.html" class=
              "side-bar-modules">relay</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/rfid.html" class=
              "side-bar-modules">rfid</a>
            </li>
            <li style="padding-left:10px;">
              <a href="modules/servo.html" class=
              "side-bar-modules">servo</a>
            </li>
          </ul></a>
        </li>
        <li>
          <a href="wifi.html">4. wifi</a>
        </li>
        <li>
          <a href="usage.html">5. usage</a>
        </li>
        <li>
          <a href="finished.html">6. finished</a>
        </li>
      </ul>
    </div>
    <div id="fre-content">
	{{ content }}
	</div>
  </section>
  <div class="github-fork-ribbon-wrapper right-bottom">
    <div class="github-fork-ribbon">
      <a href=
      "https://github.com/tessel/t2-start">Fork on
      Github</a>
    </div>
  </div>
  <footer>
    <section id="sec-footer">
      <div class="row">
        <div class="large-10 column large-centered">
          <div class="row text-center">
            <p>Technical Machine © 2013-2015.</p>
          </div>
          <div class="row text-center">
            <p><a href="http://tessel.io/resellers">Resellers</a> |
            <a href="http://tessel.io/community">Community</a> |
            <a href="http://tessel.io/about">About us</a> |
            <a href="http://tessel.io/blog">Blog</a> | <a href=
            "http://tessel.io/press">Press</a></p>
          </div>
          <div class="row text-center">
            <a href=
            "https://heapanalytics.com/?utm_source=badge"><img style="width:100px;height:40px"
            src="http://heapanalytics.com/img/badge.png" alt=
            "Heap - iOS and Web Analytics"></a>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="http://include.reinvigorate.net/re_.js">
  </script>
  <script src="javascripts/reinvigorate.js">
  </script>
  <script>
  $(document).foundation();
  </script>
</body>
</html>
